@{
    ViewData["Title"] = "Access Denied";
}

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <h2 class="text-danger">Access Denied</h2>
        <hr />
        
        <div class="alert alert-warning">
            <h4>You don't have permission to access this resource.</h4>
        </div>
        
        <p>If you believe this is an error, please contact the administrator.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go to Homepage</a>
    </div>
</div>