@{
    ViewData["Title"] = "Email Confirmation";
}

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <h2>Email Confirmation</h2>
        <hr />
        
        <div class="alert alert-success">
            <h4>@ViewBag.Message</h4>
        </div>
        
        <p>You can now <a asp-action="Login" class="btn btn-link">login to your account</a>.</p>
    </div>
</div>